<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Chinese</key>
    <string>zh-CN</string>
    <key>English</key>
    <string>en</string>
    <key>Japanese</key>
    <string>ja</string>
    <key>French</key>
    <string>fr</string>
    <key>Korean</key>
    <string>ko</string>
    <key>Spanish</key>
    <string>es</string>
    <key>Portuguese</key>
    <string>pt</string>
    <key>Russian</key>
    <string>ru</string>
    <key>Vietnamese</key>
    <string>vi</string>
    <key>Auto</key>
    <string>auto</string>
</dict>
</plist>
