<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chinese</key>
	<string>zh-CN</string>
	<key>English</key>
	<string>en</string>
	<key>Japanese</key>
	<string>ja</string>
	<key>French</key>
	<string>fr</string>
	<key>Korean</key>
	<string>ko</string>
	<key>Spanish</key>
	<string>es</string>
	<key>Portuguese</key>
	<string>pt</string>
	<key>Russian</key>
	<string>ru</string>
	<key>Vietnamese</key>
	<string>vi</string>
	<key>Auto</key>
	<string>auto</string>
	<key>Afrikaans</key>
	<string>af</string>
	<key>Albanian</key>
	<string>sq</string>
	<key>Amharic</key>
	<string>am</string>
	<key>Arabic</key>
	<string>ar</string>
	<key>Armenian</key>
	<string>hy</string>
	<key>Azeerbaijani</key>
	<string>az</string>
	<key>Basque</key>
	<string>eu</string>
	<key>Belarusian</key>
	<string>be</string>
	<key>Bengali</key>
	<string>bn</string>
	<key>Bosnian</key>
	<string>bs</string>
	<key>Bulgarian</key>
	<string>bg</string>
	<key>Catalan</key>
	<string>ca</string>
	<key>Cebuano</key>
	<string>ceb</string>
	<key>Corsican</key>
	<string>co</string>
	<key>Croatian</key>
	<string>hr</string>
	<key>Czech</key>
	<string>cs</string>
	<key>Danish</key>
	<string>da</string>
	<key>Dutch</key>
	<string>nl</string>
	<key>Esperanto</key>
	<string>eo</string>
	<key>Estonian</key>
	<string>et</string>
	<key>Finnish</key>
	<string>fi</string>
	<key>Frisian</key>
	<string>fy</string>
	<key>Galician</key>
	<string>gl</string>
	<key>Georgian</key>
	<string>ka</string>
	<key>German</key>
	<string>de</string>
	<key>Greek</key>
	<string>el</string>
	<key>Gujarati</key>
	<string>gu</string>
	<key>Haitian Creole</key>
	<string>ht</string>
	<key>Hausa</key>
	<string>ha</string>
	<key>Hawaiian</key>
	<string>haw</string>
	<key>Hebrew</key>
	<string>he</string>
	<key>Hindi</key>
	<string>hi</string>
	<key>Hmong</key>
	<string>hmn</string>
	<key>Hungarian</key>
	<string>hu</string>
	<key>Icelandic</key>
	<string>is</string>
	<key>Igbo</key>
	<string>ig</string>
	<key>Indonesian</key>
	<string>id</string>
	<key>Irish</key>
	<string>ga</string>
	<key>Italian</key>
	<string>it</string>
	<key>Javanese</key>
	<string>jw</string>
	<key>Kannada</key>
	<string>kn</string>
	<key>Kazakh</key>
	<string>kk</string>
	<key>Khmer</key>
	<string>km</string>
	<key>Kurdish</key>
	<string>ku</string>
	<key>Kyrgyz</key>
	<string>ky</string>
	<key>Lao</key>
	<string>lo</string>
	<key>Latin</key>
	<string>la</string>
	<key>Latvian</key>
	<string>lv</string>
	<key>Lithuanian</key>
	<string>lt</string>
	<key>Luxembourgish</key>
	<string>lb</string>
	<key>Macedonian</key>
	<string>mk</string>
	<key>Malagasy</key>
	<string>mg</string>
	<key>Malay</key>
	<string>ms</string>
	<key>Malayalam</key>
	<string>ml</string>
	<key>Maltese</key>
	<string>mt</string>
	<key>Maori</key>
	<string>mi</string>
	<key>Marathi</key>
	<string>mr</string>
	<key>Mongolian</key>
	<string>mn</string>
	<key>Myanmar (Burmese)</key>
	<string>my</string>
	<key>Nepali</key>
	<string>ne</string>
	<key>Norwegian</key>
	<string>no</string>
	<key>Nyanja (Chichewa)</key>
	<string>ny</string>
	<key>Pashto</key>
	<string>ps</string>
	<key>Persian</key>
	<string>fa</string>
	<key>Polish</key>
	<string>pl</string>
	<key>Punjabi</key>
	<string>pa</string>
	<key>Romanian</key>
	<string>ro</string>
	<key>Samoan</key>
	<string>sm</string>
	<key>Scots Gaelic</key>
	<string>gd</string>
	<key>Serbian</key>
	<string>sr</string>
	<key>Sesotho</key>
	<string>st</string>
	<key>Shona</key>
	<string>sn</string>
	<key>Sindhi</key>
	<string>sd</string>
	<key>Sinhala</key>
	<string>si</string>
	<key>Slovak</key>
	<string>sk</string>
	<key>Slovenian</key>
	<string>sl</string>
	<key>Somali</key>
	<string>so</string>
	<key>Sundanese</key>
	<string>su</string>
	<key>Swahili</key>
	<string>sw</string>
	<key>Swedish</key>
	<string>sv</string>
	<key>Tagalog</key>
	<string>tl</string>
	<key>Tajik</key>
	<string>tg</string>
	<key>Tamil</key>
	<string>ta</string>
	<key>Telugu</key>
	<string>te</string>
	<key>Thai</key>
	<string>th</string>
	<key>Turkish</key>
	<string>tr</string>
	<key>Ukrainian</key>
	<string>uk</string>
	<key>Urdu</key>
	<string>ur</string>
	<key>Uzbek</key>
	<string>uz</string>
	<key>Welsh</key>
	<string>cy</string>
	<key>Xhosa</key>
	<string>xh</string>
	<key>Yiddish</key>
	<string>yi</string>
	<key>Yoruba</key>
	<string>yo</string>
	<key>Zulu</key>
	<string>zu</string>
</dict>
</plist>
